.div1{

    display: flex;
    


}
.div2{ 

    flex: 50%;
    

}
.div3{ 

    flex: 50%;
    text-align: center;
}
.button{
    height: fit-content;
}
.add{
    text-align: right;
    margin: 50px;
  
    float: right;
    /* column-count: 3; */
    /* column-rule: 4px double #ff00ff; */
    
}

.text{
    position: absolute;
    left: -105.58%;
    right: 31.98%;
    top: 25%;
    bottom: 29.55%;
    
    /* H1 Head bold */
    
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 111.68%;
    /* or 22px */
    
    text-align: right;
    letter-spacing: -0.025em;
    
    /* Text / primary */
    
    color: #302A79;
}


.a{
    position: absolute;
left: 0.91%;
right: 0.91%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 17px 7px 18px 2px rgba(87, 61, 211, 0.1);
border-radius: 32px;
}

.b{
    
position: absolute;
left: 98%;
right: 0%;
top: 0%;
bottom: 0%;

/* Brand / secondary */

border: 2px solid #E5EBF4;
box-sizing: border-box;
border-radius: 24.5px;
width: 15%;

}
body{
    background-color:#E5EBF4;
    filter: drop-shadow(2px 14px 21px rgba(87, 61, 211, 0.1));
}
.divUp{
    width: 1223px;
    height: 75px;
   
    top: 305px;
    background: #FFFFFF;
    box-shadow: 2px 14px 21px rgb(87 61 211 / 10%);
    border-radius: 41px;
}
.divSide{
    width: 10px;
    height: 5000px;
    left: -200px;
    top: 305px;
    background: #FFFFFF;
    box-shadow: 2px 14px 21px rgb(87 61 211 / 10%);
    border-radius: 41px;
}
.textSide{


font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 111.68%;
/* or 20px */

text-align: right;
letter-spacing: -0.025em;

/* Text / primary */

color: #302A79;
}
.SubjectText{
    /* position: absolute;
left: -105.58%;
right: 31.98%;
top: 25%;
bottom: 29.55%; */

/* H1 Head bold */

font-family: Open Sans Hebrew;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 111.68%;
/* or 22px */

text-align: right;
letter-spacing: -0.025em;

/* Text / primary */

color: #302A79;
}
.btnUp{
    left: -11%;
    width: 199px;
    height: 44px;
    right: 40%;
    top: 3%;
    bottom: -35%;
    background: #E5EBF4;
    box-shadow: 0px 4px 9px -2px rgb(87 61 211 / 25%);
    border-radius: 24.5px;
    border-color: #E5EBF4;
    margin: 20px;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 111.68%;
}
.btnDetails{
left: 0%;
right: 0%;
top: 34.04%;
bottom: 0%;

/* Brand/stroke */

border: 0.5px solid #BEC1CB;
box-sizing: border-box;
border-radius: 15.5px;

}
.textBtnUp{
    
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 111.68%;
/* or 22px */

text-align: center;
letter-spacing: -0.025em;

/* Text / primary */

color: #302A79;
}
.textUp {
    position: absolute;
    left: 72.07%;
    right: 6.3%;
    top: 2.82%;
    bottom: 31.82%;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 111.68%;
    text-align: right;
    letter-spacing: -0.025em;
    color: #302A79;
}