.div1{

    display: flex;
    


}
.div2{ 

    flex: 50%;
    

}
.div3{ 

    flex: 50%;
    text-align: center;
}
.button{
    height: fit-content;
}
.add{
    text-align: right;
    margin: 50px;
  
    float: right;
    /* column-count: 3; */
    /* column-rule: 4px double #ff00ff; */
    
}