.list{
    
        left: -47%;
        right: 0%;
        top: 40%;
        bottom: 0%;
        background: #FFFFFF;
        border: 1px solid #BEC1CB;
        box-sizing: border-box;
        border-radius: 31px;
        height: 48px;
        width: 587px;
        position: relative;
    
    
}