.upDiv{
    width: 1500px;
    height: 60px;
    top: 305px;
    background: #FFFFFF;
    box-shadow: 2px 14px 21px rgb(87 61 211 / 10%);
    border-radius: 41px;
}
.upDiv2{
    width: 1500px;
    height: 145px;
    top: 305px;
    background: #FFFFFF;
    box-shadow: 2px 14px 21px rgb(87 61 211 / 10%);
    border-radius: 41px;
}
.upDiv3{
    width: 1500px;
    height: 600px;
    top: 305px;
    background: #FFFFFF;
    box-shadow: 2px 14px 21px rgb(87 61 211 / 10%);
    border-radius: 41px;
}


.textUp{
    position: absolute;
    left: 72.07%;
    right: 6.3%;
    top: 2.82%;
    bottom: 31.82%;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 111.68%;
    text-align: right;
    letter-spacing: -0.025em;
    color: #302A79;
}
.btn1{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Brand/stroke */
border: 0.5px solid #BEC1CB;
box-sizing: border-box;
border-radius: 15.5px;
}
.btn2{
    
        left: -20%;
        width: 135px;
        height: 30px;
        right: 40%;
        top: 3%;
        bottom: -35%;
        background: #ffffff;
        box-shadow: 0px 4px 9px -2px rgb(87 61 211 / 25%);
        border-radius: 24.5px;
        border-color: #f1f3f7;
        margin: 20px;
        font-family: Open Sans Hebrew;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 111.68%;
    
}
.textBtn{
    /* left: 2.2%;
right: 11.37%;
top: 19.35%;
bottom: 19.35%; */

/* Body / b 1 regular */

font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 17px;
/* line-height: 111.68%; */
/* identical to box height, or 19px */

text-align: right;
letter-spacing: -0.025em;

/* Text / primary */

color: #302A79;

}
.new{
    display: grid;
grid-auto-flow: column;
grid-column-gap: 10px;
}
.list{
    margin-left: 996px;
   
}
.searchStudent{
    word-spacing: 16px;
    white-space: nowrap;
    /* position: absolute; */
  
    top: 337px;
    justify-content: left;
    left: 801px;

}
.title{
    left: -47%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #BEC1CB;
    box-sizing: border-box;
    border-radius: 31px;
    height: 48px;
    width: 587px;
    position: relative;

}